html, body, ul {
  margin: 0;
  padding: 0;
}
pre { margin: 0; border: 1px solid red;}
html, body, #main, .container {
  height: 100%;
}
.container {
  position: relative;
  .seeker {
    position: absolute;
    bottom: 0;
    input {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
audio {
  width: 100%;
}

ul {
  padding: 0;

  li {
    list-style-type: none;
    float: left;
    // width: 8.3333%;
    font-size: 12px;
    text-align: center;
    transition: width .25s ease-out;
    height: 3em;
  }
}
.movements li {
    // height: 6em;
}
.seasons {
  li {
  // border-top: 1px solid #eee;
  line-height: 3em;
}
}
li.active {
  font-weight: bold;

}

input[type="range"] {
  width: 100%;
  margin: 0;
  padding: 0;
}